
@media(max-width:1400px){

    /* Services */
    .services_wrapper h3{
        font-size: -1.4rem;
     
    }
    .services_wrapper .card{
        padding: 2rem;
    }

    
}

@media(max-width:1251px){
    
    /* CustomCSS */
    h1{
        font-size: 4.375rem;
    }
    h2{
        font-size: 2.1875rem;
    }
    h3{
        font-size: 1.4375rem;
    }

    /* Accordion */
    .main_menu_wrapper .accordian-body{
        padding: 2.25rem;
    }

    /* About */
    .about_wrapper .card_detail{
        padding: .625rem;
        top:1.75rem;
    }
    .about_wrapper .card_detail ul li{
        padding: .3125rem 0;
    }

    
}

@media(max-width:992px){
    
    /* CustomCSS */
    h1{
        font-size: 3.125rem;
        line-height: 1.3;
    }
    h2{
        font-size: 1.875rem;

    }
    h3{
        font-size: 1.25rem;
    }
    a{
        font-size: 1rem;
    }
    .icon-design{
        width: 4.625rem;
        height: 4.625rem;
    }

    /* Accordian */
    .main_menu_wrapper .accordion-header .accordion-button{
           line-height: 5.875rem;
    }
    .main_menu_wrapper .accordion-header .icon-box,
    .main_menu_wrapper .accordion-header .accordion-button:after{
        width: 6rem;
    }

    /* Services */
    .services_wrapper .card{
        padding: 1.75rem 1.5rem;
    }
        
}
/* Phone Related */
@media(max-width:767px){
    /* Custom CSS */
    h1{
        font-size: 1.875rem;
    }
    h2{
        font-size: 1.25rem;
    }
    h3{
        font-size: 1.125rem;
    }
    h5{
        font-size: .9375rem;
    }
    p{
        font-size: .875rem;
    }
    /* Resume */
    .resume_wrapper .title h2{
        font-size: 1.25rem;
    }
    .resume_wrapper h4{
        font-size: 1rem !important;
    }

}

@media(max-width:576px){
    /* Custom CSS */
    a{
        font-size: .8125rem;
    }
    .main-btn{
        padding: .5rem .75rem;
        font-size: .8125rem;
    }
    /* NavBar */
    .header_wrapper .navbar-brand img{
        max-width: 6.75rem;
    }
    /* Banner */
    .banner_wrapper .social-icon a img{
        width: 2.125rem;
        height: 2.125rem;
    
    }
    /* Accordian */
    .main_menu_wrapper .accordion-header .accordion-button{
        line-height: 3.875rem;
    }
    .main_menu_wrapper .accordion-header .icon-box,
    .main_menu_wrapper .accordion-header .accordion-button:after{
     width: 4rem;
   }
   .main_menu_wrapper .accordion-header .icon-box img{
     width: 1.875rem;
   }
   .main_menu_wrapper .accordion-header .accordion-button:after{
    background-size: 1.7rem;
   }
   .main_menu_wrapper .accordion-body{
    padding: 1.25rem;
   }
   /* Resume */
   .resume_wrapper .year span{
    font-size: .875rem;
    padding: .4375rem 1.875rem;
    margin-top: 1.25rem;
    display: inline-block;
   }


}

@media(max-width: 490px){
    /* about */
    .about_wrapper .accordion-body .card_img{
        display: none;
    }
    .about_wrapper .card_detail{
        position: unset;
        width: 100%;
        
    }
    /* Portfolio */
    .portfolio_wrapper .nav-link{
        padding: 0 .625rem;
    }
    .portfolio_wrapper .portfolio-img{
        min-height: unset;
    }
}